
a {
	color:#C64F07;
}

h1, h2, h3 {
	color:#333;
}

h1 a{
	color:#333;
}

h2 {
	color:#333;
}

/* HEADER ELEMENTS
------------------------------------------*/
/* -- main menu --*/

nav {
	border:1px solid #F89D03;
	border-radius: 6px;
	background: #f8b600; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8b600 0%, #f87d00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8b600), color-stop(100%,#f87d00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8b600 0%,#f87d00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8b600 0%,#f87d00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8b600 0%,#f87d00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8b600 0%,#f87d00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b600', endColorstr='#f87d00',GradientType=0 ); /* IE6-9 */

}

nav ul.sf-menu li {
	border-right:1px solid #F5AE84;
}

nav ul.sf-menu li a {
	color:#FCF0D4;
	text-shadow:#C24905 1px 1px;
}

nav ul.sf-menu li li a {
	color:#FCF0D4;
}

nav ul.sf-menu li a:hover {
	color:#FFF;
	text-shadow:#C24905 1px 1px;
}

nav ul.sf-menu li li {
	
}

nav ul.sf-menu li ul.children, nav ul.sf-menu li ul.sub-menu {
	background:#F88B00;
}

nav ul.sf-menu li ul.children li a:hover, nav ul.sf-menu li ul.sub-menu li a:hover,, nav ul.sf-menu li.page_item ul li a:hover{
	color:#fff;
}

nav ul.sf-menu li ul.children li ul.children, nav ul.sf-menu li ul.sub-menu li ul.sub-menu  {
	border:1px solid #E1E632;
}

#socialIcons li {
	border-left:1px solid #F5AE84;
}



/* CONTENT ELEMENTS
----------------------------------------------*/

.filterable li a:hover, .filterable li.active a{
	background:#f8b600;	
}


.more-link {
	border:1px solid #F89D03;
	border-radius: 6px;
	background: #f8b600; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8b600 0%, #f87d00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8b600), color-stop(100%,#f87d00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8b600 0%,#f87d00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8b600 0%,#f87d00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8b600 0%,#f87d00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8b600 0%,#f87d00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b600', endColorstr='#f87d00',GradientType=0 ); /* IE6-9 */
	color:#fff;
	-webkit-box-shadow: 0 6px 6px -6px #999;
	-moz-box-shadow: 0 6px 6px -6px #999;
	box-shadow: 0 6px 6px -6px #999;
}

article .meta .date{
	background:url(../images/orange/bk_date.png) 0 0 no-repeat;
	color:#fff;
}


/* COL RIGHT
-------------------------------------------*/

aside h2{
	color:#C64F07;
}

aside ul li {
	background:url(../images/orange/bullet_list.png) 0 12px no-repeat;
}

aside ul li a{
	color:#666;
}

aside ul li a:hover {
	color:#C64F07;
}

/* FOOTER ELEMENTS
--------------------------------------------*/

footer .footerBox ul li {
	border-bottom:1px solid #292929;
	background:url(../images/orange/bullet_list.png) 0 13px no-repeat;
}


footer .footerBox ul li a {
	color:#515151;
}

footer .footerBox ul li a:hover {
	color:#C64F07;
}

footer .footerBox ul#social li {
	border-bottom:1px solid #292929;
}

footer .footerBox ul#social li strong{
	color:#efefef;
}

/*COMMENTS
---------------------------------------------*/

section h2.comments {
	/*color:#16A3E1;*/
}

/* FORMS
------------------------------------------- */

#commentform input#submit{
	border:1px solid #F89D03;
	border-radius: 6px;
	background: #f8b600; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8b600 0%, #f87d00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8b600), color-stop(100%,#f87d00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8b600 0%,#f87d00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8b600 0%,#f87d00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8b600 0%,#f87d00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8b600 0%,#f87d00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b600', endColorstr='#f87d00',GradientType=0 ); /* IE6-9 */
	color:#fff;
	-webkit-box-shadow: 0 6px 6px -6px #999;
	-moz-box-shadow: 0 6px 6px -6px #999;
	box-shadow: 0 6px 6px -6px #999;
}


#contactForm button.submitbutton {
	border:1px solid #F89D03;
	background: #f8b600; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8b600 0%, #f87d00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8b600), color-stop(100%,#f87d00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8b600 0%,#f87d00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8b600 0%,#f87d00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8b600 0%,#f87d00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8b600 0%,#f87d00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b600', endColorstr='#f87d00',GradientType=0 ); /* IE6-9 */
}

/* PORTFOLIO
------------------------------------------- */

.boxgrid p a.title {
	font-size:14px;
	color:#C64F07 !important;
}

/* SLIDERS
------------------------------------------- */

.flex-direction-nav li a { 
    background-color: rgba(226,88,7,0.5) !important;
}

.flex-control-nav li a {
    background:url(../images/orange/bg_control_nav.png) 0 0 no-repeat !important;
}

.nivo-prevNav {
	background:url(../images/but_prev.png) 0 0 no-repeat !important;
}

.nivo-nextNav {
	background:url(../images/but_next.png) 0 0 no-repeat !important;
}